
.acceuil{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left,rgba(0, 0, 0, 0.7)45%,rgba(0, 0, 0, 0.7)100%),url('../assets/bac.jpg' );
    background-size: cover;
}
.acceuil h2{
    font-size: 2.4em;
    font-family: 'Roboto';
    color: #fff;
    position: relative;
    top: -40px;
}
.covered{
    position: relative;
    left: 6%;
}
.button{
	background-color: rgb(255, 147, 6);
    padding: 10px;
    width: 130px;
    color: aliceblue;
    border: 0.5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 100px;
    right: 70px;
}
.button:hover{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.7)30%,rgba(43, 42, 42, 0.7)60% ,rgba(8, 8, 8, 0.7)100%);
    color: rgb(250, 248, 246);
    margin-left: 2px;
    letter-spacing: 1px;
    transition: .6s ease-in-out;

}

