.cart {
	color: rgb(87, 70, 70);
	background: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(179, 179, 171));
	padding: 20px;
	display: flex;
	width: 300px;
	flex-direction: column;
	justify-content: flex-start;
	height: max-content;
    max-height: 40vh;
	overflow:auto ;
	z-index: 20px;
	box-shadow: 0px 3px 3px gray;;
}
.empty{
	margin-top: 5px;
	color: rgb(240, 64, 64);
	font-weight: bolder;
}
.cart-add-button {
	margin-left: 170px;
	padding-bottom: 20px;
	cursor: pointer;
}
.cart-toggle-button {
	border: none;
	font-weight: 500;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	transform: scale(0.95);
	transition: 0.3s ease-in-out;
	border-radius: 50%;
}
.cart-toggle-button:hover{
transform: scale(1.05);
font-weight: bolder;


}
.fa-times-circle{
    color:rgb(255, 0, 0);
    transition: transform 0.3s linear;
	position: relative;
    bottom: 10px;
	left: 20px;
}
.fa-times-circle:hover{
      transform: rotate(180deg);
}
.cart-closed {
	padding: 32px;
	width: 200px;

}

.clear-button{
	background-color: rgb(255, 147, 6);
    padding: 3px;
    width: 120px;
    color: aliceblue;
    border: 0.5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.clear-button:hover{
    background-color: rgb(248, 152, 135);
    color: rgb(218, 69, 0);
    margin-left: 2px;
}
.cart-closed > button {
	color: black; 

}
.remove{
	cursor: pointer;
	position: relative;
	margin-left: 20%;
	color: red;
	font-weight: bold;
}
.remove:hover{
	background-color: rgb(250, 111, 111);
	color: rgb(112, 0, 0);
}
button{
	border: none;
	right: 10%;
}
/*.cart_list{
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	table-layout: fixed;
    width: 100%;
}*/
table {
	table-layout: auto;
	width: 100%;
  }
  
  td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
  }
  tr:hover {
      background-color: rgb(187, 243, 170);
	  color: black;
	  font-weight: bolder;
	  size: 12px;
  }
