.lfooter {
	color: black;
	padding: 32px;
	border-top: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
	background-color: rgb(238, 255, 221);
	margin-left: 100px;
}

.footer-elem {
	margin-bottom: 10px;
}
.first-name{
	margin-left: 20px;
	background-color: rgb(197, 253, 197);
}
.email{
	margin-left: 57px;
	background-color: rgb(197, 253, 197);
}
.send-inf{
	margin-left: 90px;
    width: 80px;
    height: 30px;
	background-color: rgb(169, 247, 173);
}