.plant-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
	cursor: pointer;
}

.plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
}

.plant-item-price {
	position: absolute;
	border-radius: 30px 30px 30px 0;
	background-color: #5ae09d;
	color: white;
	padding: 10px;
	right: 0;
	top: 0;
	font-weight: 500;
}

.zoom{
    box-shadow: 4px 4px 4px gray;
    box-sizing: border-box;
}
.zoom:hover{
    animation: zoom 2s forwards;
    opacity: 0.85;
	background: linear-gradient(to bottom , rgb(255, 255, 255)60% , black);
	color: blanchedalmond;
}
@keyframes zoom {
    0%{
         transform: scale(1);
         box-shadow: 0 2px 5px  rgb(32, 31, 31);
    }
    100%{
             transform: scale(1.02);
    }
}

